<nav class="navbar bg-dark"  data-bs-theme="dark">
  <div class="container-fluid justify-content-center">
    <span class="navbar-text text-center">
      © 2025. Engineered By Devan Fedhi. All Rights Reserved.
    </span>
  </div>
</nav>