@page "/login"
@using OnePercentApp.Frontend.Models
@using OnePercentApp.Frontend.Models.ViewModels
@using OnePercentApp.Frontend.Data
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@inject NavigationManager navigationManager
@inject OnePercentAppContext onePercentAppContext
@inject AuthenticationStateProvider authenticationStateProvider
@* @rendermode InteractiveServer *@
@using Microsoft.EntityFrameworkCore

<PageTitle>Login</PageTitle>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-5 bg-dark shadow-lg" style="width: 500px;">  
        <EditForm Model="@Model" OnValidSubmit="AuthenticateAsync" FormName="LoginForm">
            <DataAnnotationsValidator />
            <div class="mb-3 text-center">
                <h1 class="text-primary">Login</h1>
            </div>
            <div class="mb-3">
                <label><h5 class="text-secondary pt-3 pb-2">Email</h5></label>
                <InputText @bind-Value="Model.Email" class="form-control" placeholder="Email"></InputText>
                <ValidationMessage For="() => Model.Email" />
            </div>

            <div class="mb-3">
                <label><h5 class="text-secondary pt-3 pb-2">Password</h5></label>
                <InputText @bind-Value="Model.Password" class="form-control" type="password" placeholder="Password"></InputText>
                <ValidationMessage For="() => Model.Password" />
            </div>

            <div class="mb-3 text-center">
                <span class="text-danger">@errorMessage</span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary mt-4">Login</button>
                <p class="text-light mt-3">Already have an account? <a href="/register">Register</a></p>

            </div>

        </EditForm>

    </div>
</div>


@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    [SupplyParameterFromForm]
    public LoginViewModel Model { get; set; } = new ();

    private string? errorMessage;
    private async Task AuthenticateAsync()
    {

        var user = onePercentAppContext.Users.Include(u => u.Role).Where(x => x.UserEmail == Model.Email).FirstOrDefault();
        if (user == null || user.UserPassword != Model.Password)
        {
            errorMessage = "Invalid email or password";
            return;
        }

        var claims = new List<Claim>
        {
            new Claim(ClaimTypes.Name, user.UserName),
            new Claim(ClaimTypes.Email, Model.Email),
            new Claim(ClaimTypes.Role, user.Role.RoleName)
        };

        var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
        var principal = new ClaimsPrincipal(identity);

        if (HttpContext == null)
        {
            errorMessage = "HTTP context is null";
            return;
        }
        await HttpContext.SignInAsync(principal);
        navigationManager.NavigateTo("/");
		
    }


}